<h1>Question index</h1>
<div >
  <h2 id="ask"> Ask a question? </h2>

  <form id='form_question' action='http://localhost:3003/questions' method='POST'>
    <input type="text" name="question[title]" value="Title">
    <input type="text" name="question[content]" value="Content">
    <input type="submit" value="Submit">
  </form >
</div>
<div id="questions_container"></div>

<script id="form_question_template" type="text/x-handlebars-template">

</script>
