<div class="question-display" id="<%= question.id %>">
  <h3> <%= link_to question.title, question_path(question), id: question.id %> </h3>
  <content> <%= question.content %> </content> <br><br>
</div>
